@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,700i&display=swap");

html {
  body {
    padding: 0;
    margin: 0;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
  }
}

.hero {
  // visibility: hidden;

  .container {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    .hero-inner {
      flex-direction: column;
      display: flex;
      gap: 32px;
      .hero-content {
        .hero-content-inner {
          h1 {
            font-weight: 500;
            font-size: 32px;
            margin-bottom: 24px;
            .hero-content-line {
              margin: 0;
              height: 44px;
              overflow: hidden;
              .hero-content-line-inner {
              }
            }
          }
          p {
            font-size: 14px;
            line-height: 24px;
            font-weight: 300;
            padding-right: 48px;
            margin-bottom: 56px;
          }
          .btn-row {
            position: relative;
            button {
              background: none;
              border: none;
              font-size: 12px;
              padding: 0;
              cursor: pointer;
              text-transform: uppercase;
              font-weight: 700;
              letter-spacing: 0.7px;
              display: flex;
              align-items: center;
              position: relative;
              &:focus {
                outline: none;
              }
              .arrow-icon {
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #007fff;
                height: 48px;
                width: 48px;
                border-radius: 100px;
                margin-left: 16px;
                left: 64px;
                transform-origin: center center;
              }
            }
          }
        }
      }
      .hero-images {
        width: 100%;
        height: 100vh;

        .mask {
          background: #fff;
          overflow: hidden;
          // width: 50%;
          // height: 500px;
          // clip-path: polygon(30% 30%, 70% 30%, 70% 70%, 30% 70%);
        }
        .statue {
          object-fit: cover;
          width: 100%;
          height: 500px;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .hero {
    // visibility: hidden;
    height: 100vh;
    .container {
      width: 1440px;
      min-width: 1440px;
      margin: 0 auto;
      .hero-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        margin: 0 24px;
        height: 100vh;
        .hero-content {
          width: 50%;
          .hero-content-inner {
            width: 400px;
            color: #323232;
            margin: 0 auto;
            h1 {
              font-weight: 500;
              font-size: 32px;
              margin-bottom: 24px;
              .hero-content-line {
                margin: 0;
                height: 44px;
                overflow: hidden;
                .hero-content-line-inner {
                }
              }
            }
            p {
              font-size: 14px;
              line-height: 24px;
              font-weight: 300;
              padding-right: 48px;
              margin-bottom: 56px;
            }
            .btn-row {
              position: relative;
              &:before {
                position: absolute;
                content: "";
                width: 56px;
                height: 1px;
                background: #dfdfdf;
                top: 50%;
                left: -68px;
              }
              button {
                background: none;
                border: none;
                font-size: 12px;
                padding: 0;
                cursor: pointer;
                text-transform: uppercase;
                font-weight: 700;
                letter-spacing: 0.7px;
                display: flex;
                align-items: center;
                position: relative;
                &:focus {
                  outline: none;
                }
                .arrow-icon {
                  position: absolute;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  background: #007fff;
                  height: 48px;
                  width: 48px;
                  border-radius: 100px;
                  margin-left: 16px;
                  left: 64px;
                  transform-origin: center center;
                }
              }
            }
          }
        }
        .hero-images {
          width: 50%;
          height: 100vh;
          display: flex;
          justify-content: center;
          align-items: center;
          .mask {
            background: #fff;
            overflow: hidden;
            // width: 50%;
            // height: 500px;
            // clip-path: polygon(30% 30%, 70% 30%, 70% 70%, 30% 70%);
          }
          .statue {
            object-fit: cover;
            width: 100%;
            height: 500px;
          }
        }
      }
    }
  }
}
